<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <hiddenSegments>
          <!-- Remove .well-known from hidden segments -->
          <remove segment=".well-known" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".txt" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
</configuration>
